PORT=3000
MONGODB_URI=mongodb://localhost:27017/programacion4
JWT_SECRET=cambiar_por_clave_secreta_segura
JWT_REFRESH_SECRET=cambiar_por_clave_secreta_segura_refresh
SUPERADMIN_PASSWORD=contraseña_superadmin_segura
